@using PagedList;
@using PagedList.Mvc;

@model  MyNoteMarketPlace.Models.AdminDashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}
@{
    <style>
        .pagination {
            margin-left: 40% !important;
             margin-top: 10px;
           
        }

        #dashboard-publish Input[type=search] {
            width: 322px;
            border: 1px solid #d1d1d1;
            margin-bottom: 20px;
            margin-left: -100px;
        }


        select {
            background-image: url("/Img/Admin/user-profile/down-arrow.png") !important;
        }

        table {
            margin-bottom: 50px !important;
        }

        .btn-confirm .btn-no {
            margin-left: 0px !important;
        }



        .wrapper img.searchimage.doup {
            position: absolute;
            left: -40%;
            top: 23%;
        }

        .search-bar {
            height: 50px;
        }

        

        /*For PopUp box*/
        h3.set-text {
            margin-bottom: 20px !important;
            margin-top: 0px !important;
        }

        .set-label {
            margin-left: -16px;
            margin-bottom: 10px;
        }

        .text-area {
            width: 95%;
            height: 153px !important;
        }


        h3.set-text {
            font-family: "Open Sans", sans-serif;
            color: #6255a5;
            font-size: 26px;
            line-height: 30px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .modal-download {
            margin-top: 150px;
        }

        .modal-header {
            border: none;
        }

        .modal-footer {
            border: none;
        }

        .model-data {
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 55px;
        }

        .btn-setting {
            margin-left: -25px;
        }

        .button-arng {
            color: #fff;
            border-radius: 3px;
            font-family: "Open Sans", sans-serif;
            background-color: #6255a5;
            overflow: hidden;
        }
    </style>
}

    <!-- Dashboard Upper -->
    <section id="dashboard-upper">

        <div class="container">

            <!-- dashboard heading & add note button -->
            <div class="row dashboard-upper-title">

                <!-- Title -->
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="dashboard-heading">
                        <h2>Dashboard</h2>
                    </div>
                </div>


            </div>

            <!-- Dashboard content -->
            <div class="dashboard-content">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row note-info">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12">


                                <!-- Number of notes sell -->
                                <div class="right-dash text-center first-dash">

                                    <h4><b> <a href="@Url.Action("NotesUnderReview", "AdminNotes")" class="value">@Model.NotesInReview</a><br></b></h4>
                                    <p><a href="@Url.Action("NotesUnderReview", "AdminNotes")" class="heading"> Number of Notes in Review for Publish</a><br></p>
                                </div>


                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12">

                                <!-- Number of notes sell -->
                                <div class="right-dash text-center">
                                    <h4><b> <a href="@Url.Action("DownloadedNotes", "AdminNotes")" class="value">@Model.NotesDownloaded</a><br> </b></h4>
                                    <p> <a href="@Url.Action("DownloadedNotes", "AdminNotes")" class="heading">Numbers of New Notes Downloaded<br>(Last 7 days)</a> </p>


                                </div>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12">

                                <!-- Number of notes sell -->
                                <div class="right-dash text-center">
                                    <h4><b>  <a href="@Url.Action("Members", "AdminMembers")" class="value">@Model.NewRegistration</a><br></b></h4>
                                    <p> <a href="@Url.Action("Members", "AdminMembers")" class="heading">Numbers of New Registrations<br>(Last 7 days)</a></p>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Dashboard Upper ends-->
    <!-- Dashboard Publish -->
    <section id="dashboard-publish">
        <div class="container">
            @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Get))
            {
                <div class="row top-table">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <h3>Published Notes</h3>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="row justify-content-end select-input-margin">
                            <div class="wrapper">
                                <img src="~/Img/Admin/Dashboard/search.jpg" class="searchimage doup">
                                <input type="search" name="search" value="@ViewBag.Search" id="search" class="form-control search-bar InputEmail1" placeholder="Search">
                            </div>
                            <div class="btn-merge">
                                <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>Search</b></button>

                            </div>
                            <div>
                                <!--  <select class="form-control inputselect seller-dd select-margin">
                                      <option>Select Month</option>
                                      <option>Type 1</option>
                                      <option>Type 2</option>
                                      <option>Type 3</option>
                                  </select> -->

                                @Html.DropDownList("month", new SelectList(@ViewBag.MonthList, "Value", "Text", @ViewBag.Month), "Select Month", new { @class = "form-control inputselect seller-dd select-margin arrow", id = "dashboard-month" })
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="grid-table table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle text-center">SR NO.</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Title", "Dashboard", new { sort = ViewBag.Sort == null ? "Title_Desc" : (ViewBag.Sort == "Title_Asc" ? "Title_Desc" : "Title_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Category", "Dashboard", new { sort = ViewBag.Sort == null ? "Category_Desc" : (ViewBag.Sort == "Category_Asc" ? "Category_Desc" : "Category_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Attachment Size", "Dashboard", new { sort = ViewBag.Sort == null ? "FileSize_Desc" : (ViewBag.Sort == "FileSize_Asc" ? "FileSize_Desc" : "FileSize_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Sell Type", "Dashboard", new { sort = ViewBag.Sort == null ? "SellType_Desc" : (ViewBag.Sort == "SellType_Asc" ? "SellType_Desc" : "SellType_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Price", "Dashboard", new { sort = ViewBag.Sort == null ? "Price_Desc" : (ViewBag.Sort == "Price_Asc" ? "Price_Desc" : "Price_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Publisher", "Dashboard", new { sort = ViewBag.Sort == null ? "Publisher_Desc" : (ViewBag.Sort == "Publisher_Asc" ? "Publisher_Desc" : "Publisher_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Published Date", "Dashboard", new { sort = ViewBag.Sort == null ? "PublishedDate_Desc" : (ViewBag.Sort == "PublishedDate_Asc" ? "PublishedDate_Desc" : "PublishedDate_Asc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle" style="white-space:pre-wrap;">@Html.ActionLink("Number Of Downloads", "Dashboard", new { sort = ViewBag.Sort == null ? "Downloads_Asc" : (ViewBag.Sort == "Downloads_Desc" ? "Downloads_Asc" : "Downloads_Desc"), search = ViewBag.Search, seller = ViewBag.Seller, month = ViewBag.Month })</th>
                                    <th scope="col" class="align-middle"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PublishedNotesLists.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="10" class="align-middle text-center">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    int srno = 0;
                                    if (ViewBag.PageNumber == null)
                                    {
                                        srno = 0;
                                    }
                                    else
                                    {
                                         srno = (ViewBag.PageNumber - 1) * 5;
                                    }
                                    foreach (var item in Model.PublishedNotesLists)
                                    {

                                        <tr>
                                            @{ srno = srno + 1; }
                                            <td class="align-middle text-center">@srno</td>
                                            <td class="align-middle"><a class="getpurple" href="@Url.Action("NoteDetail", "Admin", new { noteid = @item.ID })">@item.Title</a></td>
                                            <td class="align-middle">@item.Category</td>
                                            <td class="align-middle text-center">@item.FileSizeKBMB</td>
                                            <td class="align-middle text-center">@item.SellType</td>

                                            @if (item.SellType.Equals("Paid"))
                                            {
                                                <td class="align-middle text-center">$@item.Price</td>
                                            }
                                            else
                                            {
                                                <td class="align-middle text-center">$0</td>
                                            }

                                            <td class="align-middle text-center">@item.Publisher</td>
                                            <td class="align-middle text-center">@item.PublishedDate.ToString("dd-MM-yyyy hh:mm")</td>
                                            <td class="align-middle text-center"><a class="getpurple" href="@Url.Action("DownloadedNotes", "AdminNotes", new { selectednote = @item.ID })">@item.Downloads</a></td>

                                            <td class="align-middle">
                                                <div class="row text-center">
                                                    <div class="dropdown">
                                                        <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <img src="~/Img/Admin/images/dots.png">
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">

                                                            <a class="dropdown-item" href="@Url.Action("AdminDownloadNote", "Admin", new { noteid = @item.ID })" role="button">Download Notes</a>
                                                            <a class="dropdown-item" href="@Url.Action("NoteDetail", "Admin", new { noteid = @item.ID })" role="button">View More Details</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#unpublished-@item.ID" role="button">Unpublish</a>
                                                        </div>
                                                    </div>

                                                    <!-- Section Spam -->
                                                    <div class="modal fade modal-download" id="unpublished-@item.ID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content text-left">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <h3 class="set-text">@item.Title</h3>
                                                                    </div>
                                                                    <div>
                                                                        @using (@Html.BeginForm("UnPublishNote", "Admin", FormMethod.Post, new { id = "unpublish-" + @item.ID }))
                                                                        {
                                                                            @Html.AntiForgeryToken()

                                                                            <input name="noteid" value="@item.ID" hidden>

                                                                            <div class="form-group" id="modal-spam-report">
                                                                                <div class="textarea-input">
                                                                                    <label class="control-label set-label" for="unpublish-remark-@item.ID">Remarks *</label>
                                                                                    <textarea class="form-control  InputEmail1  text-area" name="unpublish-remark" id="unpublish-remark-@item.ID" placeholder="remarks..." required></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer  btn-setting ">
                                                                                <button class="btn button-arng  text-uppercase " data-toggle="modal" data-target="#confirmation-@item.ID" data-dismiss="modal" aria-label="Close">Unpublish</button>
                                                                                <button class="btn button-arng  text-uppercase" data-dismiss="modal" aria-label="Close">Cancel</button>
                                                                            </div>


                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Section Spam END -->
                                                    <!-- Section Confirmation Box -->
                                                    <div class="modal fade " id="confirmation-@item.ID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-confirm-body">
                                                                    <div>
                                                                        <p class="confirm-text">
                                                                            Are you sure you want to Unpublish this note?
                                                                        </p>

                                                                        <div class="btn-confirm">
                                                                            <button class="btn btn-yes" onclick="$('#unpublish-'+@item.ID).submit(); $(this).dialog('close');">YES</button>
                                                                            <button class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">NO</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Section Confirmation-Box END -->

                                                </div>
                                            </td>

                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Dashboard Publish end-->
    <!-- Pagination-->
    <nav aria-label="Page navigation example">
        <div class="container">
            <div class="row justify-content-center">

                <!-- <ul class="pagination mypagination top-page">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left "></i></a>
                    </li>
                    <li class="page-item selected"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul> -->

          @Html.PagedListPager(Model.PublishedNotesLists, page => Url.Action("Dashboard", new { page, search = @ViewBag.Search, sort = @ViewBag.Sort, seller = ViewBag.Seller, month = ViewBag.Month }), new PagedList.Mvc.PagedListRenderOptions
           {
               LiElementClasses = new[] { "page-item" },
               UlElementClasses = new[] { "pagination mypagination top-page" },
               LinkToNextPageFormat = ">",
               LinkToPreviousPageFormat = "<",
               DisplayEllipsesWhenNotShowingAllPageNumbers = false,
               DisplayLinkToFirstPage = PagedListDisplayMode.Never,
               DisplayLinkToLastPage = PagedListDisplayMode.Never
           })
            </div>
        </div>
    </nav>
    <!-- Pagination Ends -->
