
@model MyNoteMarketPlace.Models.ChangePasswordModel

    <!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
            <!-- Title -->
            <title>Notes Marketplace</title>
            <!-- Google Link For Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans
             :wght@300;400;600;700&display=swap" rel="stylesheet">
            <!-- Fontawesome(For icons)-->
            <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">
            <!--bootstrap.css file-->
            <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">
            <!-- Custom Css file-->
            <link rel="stylesheet" href="~/Content/Front/css/style.css">
            <!-- Responsive CSS -->
            <link rel="stylesheet" href="~/Content/Front/css/responsive.css">
            <style>
                #change-password {
                    background: url("/Img/Front/pre-login/banner-with-overlay.jpg") no-repeat fixed center !important;
                    min-width: 100%;
                    min-height: 100%;
                    background-size: cover;
                }

                    #change-password .content-background-lg {
                        margin: auto;
                        cursor: zoom-in;
                    }

                    #change-password #login_form {
                        width: 40%;
                    }

                    #change-password .logo {
                        padding-top: 40px;
                    }

                    #change-password h2 {
                        font-size: 30px;
                    }

                    #change-password p {
                        padding-bottom: 20px;
                    }

                    #change-password .btn-primary {
                        width: 90%;
                        margin: 0px 30px 30px 0px;
                    }

                    #change-password .form-control {
                        width: 90%;
                        margin: 0px 30px 20px 20px;
                    }

                    #change-password .control-label {
                        padding: 0px 0px 5px 35px;
                    }

                    #change-password #password-field {
                        border: 1px solid #6255a5;
                    }

                    #change-password .field-icon {
                        -webkit-transform: translateY(-18px);
                        transform: translateY(-18px);
                        padding-right: 60px;
                    }
                    #change-password #password-field-1,
                    #change-password #password-field-2 {
                         border-radius: 3px;
                        color: #8a8a8a;
                        overflow: hidden;
                        width: 90%;
                        border: 1px solid #6255a5;
                    }
            </style>

        </head>

        <body>
            <!-- Change Password -->
            <section id="change-password">
                <div class="content-background-lg">
                    <div class="logo">
                        <img src="~/Img/Front/pre-login/top-logo.png" alt="logo" class="img-responsive">
                    </div>
                    <div id="login_form">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="form-type" class="text-center">
                                        <h2><span>Change Password</span></h2>
                                        <p>Enter your new password to change your password</p>
                                    </div>
                                    <!--    <form class="form-horizontal" method="" action=""> -->
                                    @using (Html.BeginForm("ChangePassword", "SignUp", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        <div class="form-group">
                                            <!-- 1-->
                                            <label class="control-label">Old Password</label>
                                            <div class="col-md-12 col-sm-12">
                                                <!--    <input id="password-field" type="password" class="form-control" name="password" value="" placeholder="Enter your old password"> -->
                                                @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;" })
                                                @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", @id = "password-field", @placeholder = "Enter your old password" })

                                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div><br>
                                            <!-- 2-->
                                            <label class="control-label">New Password</label>
                                            <div class="col-md-12 col-sm-12">
                                                <!--    <input id="password-field-1" type="password" class="form-control" name="password" value="" placeholder="Enter your new password"> -->
                                                @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;" })
                                                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @id = "password-field-1", @placeholder = "Enter your new password" })
                                                <span toggle="#password-field-1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div><br>
                                            <!-- 3-->
                                            <label class="control-label">Confirm Password</label>
                                            <div class="col-md-12 col-sm-12">
                                                <!-- <input id="password-field-2" type="password" class="form-control" name="password" value="" placeholder="Enter your confirm password"> -->
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;" })
                                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @id = "password-field-2", @placeholder = "Enter your confirm password" })
                                                <span toggle="#password-field-2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>

                                        </div>
                                        <div class=" col-md-12 col-sm-12 col-lg-12 col-xl-12 ">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
                                        </div>
                                    }
                                    <!--  </form>  -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--jquery-->
            <script src="~/Script/Front/js/jquery.min.js"></script>
            <!--bootstrap.js file-->
            <script src="~/Script/Front/js/bootstrap/bootstrap.min.js"></script>
            <!-- custom js file-->
            <script src="~/Script/Front/js/script.js"></script>
            <script src="~/Script/jquery.validate.min.js"></script>
            <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>

        </body>

</html>