@model MyNoteMarketPlace.Models.AddCountryModel
@{
    ViewBag.Title = "Add Country";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

<!-- Add Catagory -->
<!--  <form class="user-details-form"> -->

@using (Html.BeginForm("AddCountry", "AdminSettings",new { @class="user-details-form" } ,FormMethod.Post))
{

    @Html.AntiForgeryToken()


    <section id="personal-details" class="user-profile content-box-md">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3>Add Country</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label class="mylabel">Country Name *</label>
                                   
                                    @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control InputEmail1", id = "country-name", placeholder = "Enter country name", required = "required" })
                                    @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;"  })
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label class="mylabel" for="InputEmail1">Country Code*</label>
                                
                                    @Html.TextBoxFor(model => model.CountryCode, new { @class = "form-control InputEmail1", id = "country-code", placeholder = "Enter country code", required = "required" })
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;"  })

                                </div>

                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <button type="submit" class="btn text-uppercase text-center" id="mybtn"><b>submit</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
    
    <!-- Add Catagory Ends-->