@model IEnumerable<MyNoteMarketPlace.Models.MyDownloadModel>
    @{
        ViewBag.Title = "MyDownload";
        Layout = "~/Views/Shared/_UserNav.cshtml";
    }

@{ 
    <style>
          .pagination {
             margin-left: 50% !important;
        }

        #dashboard-progress Input[type=search], #dashboard-publish Input[type=search] {
            width: 322px;
            border: 1px solid #d1d1d1;
            margin-bottom: 20px;
            margin-left: -100px;
        }

         .btn-confirm a.btn.btn-no {
            margin-left: 0px !important;
        }
   


          /*For PopUp box*/
        h2.set-text {
            margin-bottom: 20px !important;
            margin-top: 0px !important;
        }
        .set-label {
            margin-left: -16px;
            margin-bottom: 10px;
        }

        .text-area {
            width: 95%;
            height: 153px !important;
        }
        .set-rate {
            margin-bottom: 30px;
            margin-left: -9%;
        }

        h2.set-text {
            font-family: "Open Sans", sans-serif;
            color: #6255a5;
            font-size: 26px;
            line-height: 30px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .modal-download {
            margin-top: 150px;
         }

         .modal-header {
             border: none;
           }
           .modal-footer {
             border: none;
           }
        .model-data {
            padding-bottom: 30px;
            padding-left: 40px;
            padding-right: 55px;
        }
         #mybt {
       margin-left: 3%;
           }
        .btn-setting {
             margin-left:-25px;
        }
        .button-arng {
            color: #fff;
          border-radius: 3px;
          font-family: "Open Sans", sans-serif;
           background-color: #6255a5;
          overflow: hidden;
    
        }

    </style>

}

    <!-- My Download Teble -->
<div class="outerbox">
    <section id="dashboard-progress" class="mydownload-margin">
        <div class="container">
            @using (@Html.BeginForm("MyDownload", "MyDownload", FormMethod.Get))
            {
                <div class="row top-table">
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                        <h3>My Downloads</h3>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-pa ">
                        <div class="row justify-content-end left-end">
                            <div class="wrapper">
                                <img src="~/Img/Front/Dashboard/search.jpg" class="searchimage doup">
                                <input type="search" class="form-control search-bar InputEmail1" placeholder="Search" value="@ViewBag.Search" id="search">
                            </div>
                            <div class="btn-merge">
                                <button type="submit" class="btn text-uppercase text-center" id="mybt"><b>Search</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Download Table -->
            <div class="row">
                <div class="col-md-12">
                    <div class="grid-table table-responsive-xl">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle text-center">SR NO.</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Notes Title", "MyDownload", new { sort = ViewBag.Sort == null ? "Title_Desc" : (ViewBag.Sort == "Title_Asc" ? "Title_Desc" : "Title_Asc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Category", "MyDownload", new { sort = ViewBag.Sort == null ? "Category_Desc" : (ViewBag.Sort == "Category_Asc" ? "Category_Desc" : "Category_Asc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Seller", "MyDownload", new { sort = ViewBag.Sort == null ? "Seller_Desc" : (ViewBag.Sort == "Seller_Asc" ? "Seller_Desc" : "Seller_Asc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Sell Type", "MyDownload", new { sort = ViewBag.Sort == null ? "Type_Desc" : (ViewBag.Sort == "Type_Asc" ? "Type_Desc" : "Type_Asc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Price", "MyDownload", new { sort = ViewBag.Sort == null ? "Price_Desc" : (ViewBag.Sort == "Price_Asc" ? "Price_Desc" : "Price_Asc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle">@Html.ActionLink("Downloaded Date/Time", "MyDownload", new { sort = ViewBag.Sort == null ? "DownloadedDate_Asc" : (ViewBag.Sort == "DownloadedDate_Desc" ? "DownloadedDate_Asc" : "DownloadedDate_Desc"), search = ViewBag.Search, page = ViewBag.Page })</th>
                                    <th scope="col" class="align-middle"></th>
                                    <th scope="col" class="align-middle"></th>
                                    <th scope="col" class="align-middle"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="10" class="align-middle text-center">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    var srno = (ViewBag.PageNumber - 1) * 10;
                                    foreach (var item in Model)
                                    {

                            <tr>
                                @{ srno = srno + 1; }
                                <td class="align-middle text-center">@srno</td>
                                <td class="align-middle getpurple"><a href="@Url.Action("Notes", "NotesDetails", new { id = @item.NoteID })">@item.Title</a></td>
                                <td class="align-middle">@item.Category</td>
                                <td class="align-middle">@item.Seller</td>
                                <td class="align-middle">@item.SellType</td>

                                @if (@item.Price != null)
                                {

                                    <td class="align-middle">$@item.Price</td>
                                }
                                else
                                {

                                    <td class="align-middle">$0</td>
                                }
                                @if (@item.NoteDownloaded == true)
                                {
                                    <td class="align-middle">@item.DownloadedDate.Value.ToString("dd MMM yyyy, hh:mm:ss")</td>

                                }
                                else
                                {
                                    <td class="align-middle">Download This Note</td>
                                }

                                <td class="align-middle">
                                    <a type="button" href="@Url.Action("Notes", "NotesDetails", new { id = item.NoteID })"><img src="~/Img/Front/Dashboard/eye.png" alt="view"></a>
                                </td>

                                <td class="align-middle">
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v  dowhite"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("DownloadNotes", "NotesDetails", new { noteid = @item.NoteID } )">Download Notes</a>



                                            @if (item.NoteDownloaded == true)
                                            {
                                                <a class="dropdown-item" data-toggle="modal" data-target="#addreview-@item.DownloadID">Add Reviews/Feedback</a>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#reportspam-@item.DownloadID">Report as Inappropriate</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item">Add Review/Feedback</a>
                                                <a class="dropdown-item">Report as Inappropriate</a>
                                            }
                                        </div>
                                    </div>

                                    @if (item.NoteDownloaded == true)
                                    {
                                        <!--Add Review Moadl -->
                                        <div class="modal fade modal-download" id="addreview-@item.DownloadID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">

                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="modal-content add-review">
                                                            <div class="modal-header">

                                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <i class="fa fa-close 2x"></i>
                                                                </a>
                                                            </div>
                                                            <div class="model-data">

                                                                <div class="modal-head text-left">
                                                                    <h2 class="set-text">Add Review</h2>
                                                                </div>

                                                                @using (Html.BeginForm("AddReview", "MyDownload", FormMethod.Post))
                                                                {

                                                                    @Html.AntiForgeryToken()

                                                                    <input name="AgainstDownloadsID" value="@item.DownloadID" hidden>
                                                                    <input name="noteid" value="@item.NoteID" hidden>

                                                                    <div class="middel-content text-left content-justify-left">
                                                                        <!-- Ratings -->
                                                                        <div class="row set-rate">
                                                                            <div class="col-12">
                                                                                <div class="rate">




                                                                                    @Html.RadioButtonFor(model => item.Rating, 5, new { id = "star5-" + @item.DownloadID, Name = "Ratings" })
                                                                                    <label for="star5-@item.DownloadID" title="text">5 stars</label>
                                                                                    @Html.RadioButtonFor(model => item.Rating, 4, new { id = "star4-" + @item.DownloadID, Name = "Ratings" })
                                                                                    <label for="star4-@item.DownloadID" title="text">4 stars</label>
                                                                                    @Html.RadioButtonFor(model => item.Rating, 3, new { id = "star3-" + @item.DownloadID, Name = "Ratings" })
                                                                                    <label for="star3-@item.DownloadID" title="text">3 stars</label>
                                                                                    @Html.RadioButtonFor(model => item.Rating, 2, new { id = "star2-" + @item.DownloadID, Name = "Ratings" })
                                                                                    <label for="star2-@item.DownloadID" title="text">2 stars</label>
                                                                                    @Html.RadioButtonFor(model => item.Rating, 1, new { id = "star1-" + @item.DownloadID, Name = "Ratings" })
                                                                                    <label for="star1-@item.DownloadID" title="text">1 star</label>
                                                                                    @Html.ValidationMessageFor(model => item.Rating, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;" })
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="form-group">
                                                                                    <div class="textarea-input">
                                                                                        <label class="control-label set-label" for="review-@item.DownloadID">Comments<span class="required"> *</span></label>
                                                                                        <!--  <textarea placeholder="Comments..." class="form-control InputEmail1" id="text-ar-1"></textarea> -->
                                                                                        @Html.TextAreaFor(model => item.Comment, new { @class = "form-control  InputEmail1 text-area", id = "review-" + @item.DownloadID, Name = "Comments", placeholder = "comments...", required = "required" })
                                                                                        @Html.ValidationMessageFor(model => item.Comment, "", new { @class = "form-error", style = "color:red;  padding: 0px 0px 0px 35px;" })

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <button type="submit" class="btn btn-primary text-uppercase text-center" id="mybt"><b>submit</b></button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                }

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!--Add Review Model Ends -->

                                        <!-- Section Spam -->
                                        <div class="modal fade modal-download" id="reportspam-@item.DownloadID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="modal-content add-review">
                                                            <div class="modal-header">

                                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <i class="fa fa-close 2x"></i>
                                                                </a>
                                                            </div>
                                                            <div class="model-data">

                                                                <div class="modal-head text-left">
                                                                    <h2 class="set-text">@item.Title</h2>
                                                                </div>
                                                                @using (@Html.BeginForm("SpamReport", "MyDownload", FormMethod.Post, new { id = "spamreport-" + @item.DownloadID }))
                                                                {
                                                                    @Html.AntiForgeryToken()

                                                                    <input name="downloadid" value="@item.DownloadID" hidden>
                                                                    <input name="noteid" value="@item.NoteID" hidden>

                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <div class="textarea-input">
                                                                                    <label class="control-label set-label" for="review-@item.DownloadID">Remarks<span class="required"> *</span></label>
                                                                                    <textarea class="form-control  InputEmail1  text-area" name="spamreport" id="spamreport-@item.DownloadID" placeholder="comments..." required></textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                    <div class="modal-footer  btn-setting ">
                                                                        <button class="btn button-arng  text-uppercase " data-toggle="modal" data-target="#confirmation-@item.DownloadID" data-dismiss="modal" aria-label="Close">Report an issue</button>
                                                                        <button class="btn button-arng  text-uppercase " data-dismiss="modal" aria-label="Close">Cancel</button>

                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Section Spam END -->
                                        <!-- Section Confirmation Box -->
                                        <div class="modal fade " id="confirmation-@item.DownloadID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-confirm-body">
                                                        <div>

                                                            <p class="confirm-text">
                                                                Are you sure you want to mark this report as spam, you cannot update it later?
                                                            </p>



                                                            <div class="btn-confirm">
                                                                <a class="btn btn-yes" onclick="$('#spamreport-'+@item.DownloadID).submit(); $(this).dialog('close');" role="button">YES</a>
                                                                <a class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">NO</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Section Confirmation-Box END -->


                                    }

                                </td>
                                <td></td>
                            </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Pagination
    <nav aria-label="Page navigation example">
        <div class="container">
            <div class="row justify-content-center">

                <ul class="pagination mypagination top-page">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left "></i></a>
                    </li>
                    <li class="page-item selected"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->

    @if (Model.Count() != 0)
    {
        <div class="row justify-content-center">

            <nav aria-label="...">
                <ul class="pagination flex-wrap">

                    <li class="page-item">
                        @if (ViewBag.PageNumber == 1)
                        {
                            <a class="page-link" href="@Url.Action("MyDownloads", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-left"></i></a>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("MyDownloads", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber - 1 })"><i class="fa fa-angle-left"></i></a>
                        }
                    </li>

                    @{
                        double? TotalPages = ViewBag.TotalPages;

                        if (ViewBag.PageNumber != 1 && ViewBag.PageNumber - 2 > 1)
                        {
                            int page = Convert.ToInt32(@ViewBag.PageNumber) - 3;
                            <li class="page-item">@Html.ActionLink("1", "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = 1 }, new { @class = "page-link" })</li>
                            if (page != 1)
                            {
                                <li class="page-item more-pages-dots">@Html.ActionLink("...", "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                            }
                        }

                        for (int i = 2; i > 0; i--)
                        {
                            if (ViewBag.PageNumber - i > 0)
                            {
                                int page = Convert.ToInt32(@ViewBag.PageNumber) - i;
                                <li class="page-item">@Html.ActionLink(page.ToString(), "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link" })</li>
                            }
                        }

                        <li class="page-item active">
                            <a class="page-link">@ViewBag.PageNumber<span class="sr-only">(current)</span></a>
                        </li>

                        for (int i = 1; i < 3; i++)
                        {
                            if (ViewBag.PageNumber + i <= TotalPages)
                            {
                                int page = Convert.ToInt32(@ViewBag.PageNumber) + i;
                                <li class="page-item">@Html.ActionLink(page.ToString(), "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link" })</li>
                            }
                        }

                        if (ViewBag.PageNumber != TotalPages && ViewBag.PageNumber + 2 < TotalPages)
                        {
                            int page = Convert.ToInt32(@ViewBag.PageNumber) + 3;
                            if (page != TotalPages)
                            {
                                <li class="page-item">@Html.ActionLink("...", "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                            }
                            <li class="page-item">@Html.ActionLink(TotalPages.ToString(), "MyDownloads", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = TotalPages }, new { @class = "page-link" })</li>
                        }

                    }

                    <li class="page-item">
                        @if (ViewBag.PageNumber == ViewBag.TotalPages)
                        {
                            <a class="page-link" href="@Url.Action("MyDownloads", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-right"></i></a>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("MyDownloads", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                        }
                    </li>

                </ul>
            </nav>

        </div>
    }



    <!-- Pagination Ends -->
</div>
    <!-- My Download Table Ends -->